#navbar_top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
#body-login{
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;


}
#login{
    display: table-cell;
    vertical-align: middle;
}
#login-footer{
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}
